.contMain{
    background-color: #1652f0;

}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

h1{
    text-align: center;
    color: white;
    margin-top: 10px ;
    font-size: 50px;
    font-weight: bold;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.earnBox-flex-1{
    display: flex;
}

.earnBox-flex-2{
    display: flex;
}

.earnBox-flex-inner{
    display: flex;
}

.earnBox-flex-inner-box{
    margin-top: 100px;
    margin-left: 30px;
}

.innerEarnBox{
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 20%;
    padding-right: 30%;
}

.mainStarted{
    padding-top: 5%;
    padding-bottom: 5%;
}

.getStarted{
    color: #0f3256;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
}

.getStarted-p{
    color:#0f3256;
    padding-top: 2%;
}

.dashedLine{
    padding: 20% 0 20% 0;
    color: rgb(131, 131, 131);
}

h4{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 32px;
    font-weight: 500;
    margin:0px 0px 16px;
}

p{
    color: rgb(223, 223, 223);
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.earnBox-p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(5, 15, 25);
    margin:0px 0px 16px;
}


.earnBox{
    background-color:#e9f6ff;
}
